.checkbox--small .form-check-input {
  width: 0.75rem;
  height: 0.75rem;
}

.checkbox--small .form-check-label {
  font-size: 0.85rem;
}

.checkbox--medium .form-check-input {
  width: 1rem;
  height: 1rem;
}

.checkbox--medium .form-check-label {
  font-size: 1rem;
}

.checkbox--large .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox--large .form-check-label {
  font-size: 1.15rem;
}

.qld-hint-text {
  display: block;
  font-size: 0.875rem;
  color: #6f777b;
  margin-top: 0.25rem;
}