#help-guide {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.help-guide-callout {
  position: fixed;
  top: 50%;
  right: 0;
  width: 70px;
  padding: 20px;
  background-color: #001d74;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay.hide {
  display: none;
}

.help-guide-content {
  height: 100%;
  width: 370px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  overflow-y: auto;
  animation-duration: 0.3s;
}

.help-guide-content.open-menu {
  animation-name: slideOpen;
  right: 0;
}

.help-guide-content.close-menu {
  animation-name: slideClose;
  right: -370px;
}

.help-guide-content .top-block {
  height: 90px;
  background-color: #001d74;
  display: flex;
  color: #fff;
  justify-content: space-between;
}

.help-guide-content .top-block .left-content {
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #fff;
}

.help-guide-content .top-block h3 {
  color: #fff;
  margin-bottom: 40px;
}

.help-guide-content .top-block button {
  color: #fff;
}

.side-padding {
  padding: 0 16px 0 16px;
}

.vertical-padding {
  padding-top: 16px;
  padding-bottom: 16px;
}

.controls-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* mobile side */
@media screen and (max-width: 767px) {
  #help-guide .help-guide-content {
    width: 90%;
    top: auto;
    bottom: 0;
  }

  .help-guide-content .top-block button i {
    transform: rotate(90deg);
  }

  .help-guide-callout {
    width: 156px;
    height: 54px;
    flex-direction: row;
    justify-content: space-evenly;
    top: auto;
    bottom: 0;
    transform: none;
  }

  .help-guide-content.open-menu {
    animation-name: slideUp;
  }

  .help-guide-content.close-menu {
    animation-name: slideDown;
    right: auto;
  }
}

@keyframes slideOpen {
  from {
    right: -370px;
  }
  to {
    right: 0px;
  }
}

@keyframes slideClose {
  from {
    right: 0;
  }
  to {
    right: -370px;
  }
}

@keyframes slideUp {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -100vh;
  }
}

@media print {
  body.print-help-guide .app-layout {
    display: none !important;
  }

  body.print-help-guide #print-help-guide {
    display: block !important;
  }

  body.print-help-guide #print-help-guide .help-guide-content {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    box-shadow: none !important;
    overflow: visible !important;
    animation: none !important;
  }
}
